body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  padding-left: 5em;
  padding-right: 5em;
  background-color: magenta;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('memeEconIcon.gif');
  background-attachment: fixed;
  color: white;
}
}
h1 {
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
